.hero-section {
  @apply min-h-screen flex justify-start items-center;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(2, 255, 242, 0.7)
    ),
    url(https://i.postimg.cc/SKz01Q9S/Family-Hygiene-Kits.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*//////////////////// Left Section//////////////////// */


/* .gradient-text {
  @apply bg-gradient-to-r from-orange-500 to-indigo-700 text-transparent leading-[110%] inline-block text-[36px] lg:text-[56px] font-extrabold  mt-2 bg-clip-text;
} */
.hero-paragraph {
  @apply text-[#fff]  md:text-[20px] leading-[32px] my-8 max-w-2xl;
}
.hero-button {
  @apply py-4 px-16 text-blue-950 text-base bg-[#FFDE00] font-bold hover:text-white mt-5;
}
