.nav-styles {
  @apply w-full h-full backdrop-blur-sm max-w-[1240px] flex justify-between items-center   p-6 rounded-3xl;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
}
/* .nav-styles {
  border-radius: 32px;
  border: 2px solid #fff;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.977) 6.26%,
    rgba(255, 255, 255, 0) 93.85%
  );
  backdrop-filter: blur(2px);
} */
