.footerBg {
  position: relative;
}
.footerBg::after {
  content: "";
  width: 400px;
  height: 90px;
  transform: rotate(40.337deg);
  flex-shrink: 0;
  border-radius: 1017.965px;
  background: rgba(242, 201, 76);

  filter: blur(122px);
  position: absolute;
  top: 25%;
  left: 0;
  z-index: -1;
}
.footerBg::before {
  content: "";
  width: 500px;
  height: 90px;
  transform: rotate(40.337deg);
  flex-shrink: 0;
  border-radius: 1017.965px;
  background: rgba(156, 1, 229);

  filter: blur(122px);
  position: absolute;
  top: 25%;
  right: -5%;
  z-index: -1;
}
.footerBg-glass-gradient {
  background: rgba(17, 22, 23, 0.85);
  backdrop-filter: blur(2px);
}
