@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gradient-text {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    to right,
    rgba(254, 137, 0, 1),
    rgba(90, 1, 203, 1)
  );
}

.outside {
  position: relative;
}
.outside::before {
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  border-radius: 800px;
  border: 2px solid black;
  position: absolute;
  top: -10%;
  left: -10%;
}

.bg-style-top-right {
  position: relative;
}
.bg-style-top-right::after {
  content: "";
  width: 718.112px;
  height: 846.336px;
  transform: rotate(27.417deg);
  flex-shrink: 0;
  display: block;
  border-radius: 846.336px;
  background: rgba(1, 229, 215, 0.2);
  filter: blur(122px);
  position: absolute;
  top: -10%;
  right: 0;
  z-index: -1;
}
.bg-style-top-right {
  position: relative;
}
.bg-style-top-right::before {
  content: "";
  width: 694.146px;
  height: 694.146px;

  transform: rotate(27.417deg);
  flex-shrink: 0;
  display: block;
  border-radius: 694.146px;
  background: rgba(209, 76, 242, 0.2);
  filter: blur(122px);
  position: absolute;
  top: 0%;
  left: 0;
  z-index: -1;
}

.glass-gradient-service {
  border-radius: 6px;

  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.05) 93.85%,
    rgba(0, 0, 0, 0.05) 93.85%
  );
  backdrop-filter: blur(2px);
}

.background-style {
  width: 100%;
  /* height: 100vh; Adjust the height as needed */
  background-image: url("assets/mesh-gradient.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Add more styles as needed */
}

.glass-gradient {
  border-radius: 32px;
  border: 2px solid #fff;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5) 6.26%,
    rgba(255, 255, 255, 0) 93.85%
  );
  backdrop-filter: blur(2px);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 227 100% 60%;
    --primary-foreground: 210 40% 98%;

    --dark-gray: 213 21% 43%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    font-family: "Roboto", sans-serif;
  }

  h1 {
    @apply text-[42px] lg:text-[56px] xl:text-[64px] font-extrabold leading-[110%];
  }
}

/* font-family: "Roboto", sans-serif; */
/* font-family: "Lato", sans-serif; */
/* font-family: "Plus Jakarta Sans", sans-serif; */
