.service-section {
  @apply bg-style overflow-x-clip;
}

.bg-style {
  position: relative;
}
.bg-style::after {
  @apply content-[''] w-[718.112px] h-[846.336px] rotate-[27.417deg] block rounded-[846.336px]  blur-[122px] absolute top-[-10%] right-0 z-[-1];
  background: rgba(1, 229, 215, 0.2);
}

.bg-style::before {
  @apply content-[''] w-[694.146px] h-[694.146px] rotate-[27.417deg] block rounded-[694.146px]  blur-[122px] absolute top-0 left-0 z-[-1];
  background: rgba(209, 76, 242, 0.2);
}
.header-section h1 {
  @apply text-center;
}
.header-details {
  @apply mt-3 mb-[54px] max-w-2xl mx-auto text-center;
}
.service-divider {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5;
}

/* service card */

.service-card-style {
  @apply px-[25px] pt-[25px] pb-[30px] rounded-[6px] transition-all glass-gradient-service   hover-styles;
}
.service-card-style img {
  @apply w-full rounded-md  transition-all;
}
.service-card-style h3 {
  @apply text-[32px] font-extrabold leading-[110%] mt-6 mb-3;
}
.service-card-style p {
  @apply text-start text-[#566B84] mb-[33px] hidden transition-all;
}
.service-card-style li {
  @apply list-none flex items-start gap-[18px] mb-4;
}
.service-card-style li span {
  @apply text-[#6FCF97] rounded-full bg-white p-[5px];
}
.icon-style {
  @apply w-[10px] h-[10px];
}
.service-card-style Button {
  @apply w-full py-4 absolute bottom-[-10%] transition-all;
}

.glass-gradient-service {
  border-radius: 6px;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.05) 93.85%,
    rgba(0, 0, 0, 0.05) 93.85%
  );
  backdrop-filter: blur(2px);
}

.hover-styles {
  @apply overflow-hidden relative transition-all;
}
.hover-styles:hover img {
  @apply absolute translate-y-[-350px] transition-all;
}
.hover-styles:hover p {
  display: block;
  transition: all;
}
.hover-styles:hover Button {
  @apply bottom-5;
}
